<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Members-2", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Log in", new_path %></li>
      </ul>
    </nav>
  </div>
</header>

<h1>La réponse de l'univers</h1>
<h2>The Hacking projecte</h2>
